# Ignorar todo dentro de results/
results/*

# Exceptuar (no ignorar) los subdirectorios
!results/
!results/evolution/
!results/plots/
!results/q_tables/

# Ignorar todo dentro de cada subdirectorio
results/evolution/*
results/plots/*
results/q_tables/*
