# Ignorar todo dentro de results/
#results/*

# Exceptuar (no ignorar) los subdirectorios
#!results/
#!results/evolution/
#!results/plots/

# Ignorar todo dentro de cada subdirectorio
#results/evolution/*
#results/plots/*
